body{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
}

header.header{
  margin-top: -69px;
  ont-family: helvetica;
  font-size: 22px;
  color: seashell;
}

.logo img{
  margin-left: 10px;
  margin-top: 8px;
}

.navi{
  margin-right: 10px;
}

.navi span{
  padding-right: 10px;
  text-decoration: underline;
}

.mission{
  background-image: url("../resources/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 69px;
}

.mission div{
    background-color: black;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3{
  display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.photo-grid-container{
  display: flex;
  justify-content: center;
}

.photo-grid{
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.photo-grid h4{
  margin-top: 10px;
}

.photo-grid img{
  margin-right: 22px;
}

.location{
  background-image: url("../resources/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.location-block{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  }

.block{
  display: flex;
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.block h3, h4{
  margin-top: 20px;
  padding: -10px;
}

div.footer{
  display: block;
  height: 200px;
}

.copyright{
  text-align: left;
  margin-left: 20px;
}
