*{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
}

.logo img{
  margin-left: 10px;
}

.navi{
  margin-right: 10px;
}

.navi span{
  padding-right: 10px;
}
